/*=============================================================================

  File:         /node_modules/rwt-snrfilter/rwt-snrfilter.css
  Language:     CSS
  Copyright:    Read Write Tools © 2020
  License:      MIT
  Initial date: Aug 2, 2020
  Contents:     References to related documents, using standardized styling

=============================================================================*/

#reference-area {
	position: relative;
	height: 2rem;
	z-index: 1;
	margin: 0;
}
#references {
	position: relative;
	top: -2rem;
	margin: 0;
}
